<header class="sticky top-0 z-50 w-full border-b border-border-dark bg-background-dark/95 backdrop-blur-md">
    <div class="px-4 md:px-10 py-3 flex items-center justify-between mx-auto max-w-[1440px]">
        <div class="flex items-center gap-3 text-white cursor-pointer">
            <a href="/">
                <div class="flex items-center gap-3 text-white m-2">
                    <span class="material-symbols-outlined text-primary text-4xl">roofing</span>
                    <h2 class="text-2xl font-bold tracking-tight">GUKODESHA</h2>
                </div>
            </a>
        </div>
        <!-- Desktop Menu -->
        <div class="hidden md:flex flex-1 justify-end gap-8 items-center">
            <nav class="flex items-center gap-8">
                <a class="text-white hover:text-primary transition-colors text-sm font-medium leading-normal"
                   href="/">Rentals</a>
                <a class="text-white hover:text-primary transition-colors text-sm font-medium leading-normal"
                   href="{% url 'about' %}">Services</a>
                <a class="text-white hover:text-primary transition-colors text-sm font-medium leading-normal"
                   href="{% url 'faq' %}">FAQ</a>
                <a class="text-white hover:text-primary transition-colors text-sm font-medium leading-normal"
                   href="{% url 'contact' %}">Contact Us</a>
            </nav>
            <div class="h-6 w-px bg-border-dark"></div>
            <div class="flex items-center gap-4 text-text-secondary text-sm font-bold">
                <button class="hover:text-white transition-colors">EN</button>
                <button class="hover:text-white transition-colors">FR</button>
                <button class="hover:text-white transition-colors">SW</button>
            </div>
            <div class="flex gap-3">
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'login' %}"
                       class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-transparent border border-border-dark hover:bg-surface-dark text-white text-sm font-bold transition-all">
                        <span class="truncate">Log In</span>
                    </a>
                    <a href="{% url 'signup' %}"
                       class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-primary hover:bg-primary-hover text-background-dark text-sm font-bold shadow-[0_0_15px_rgba(56,224,123,0.3)] transition-all">
                        <span class="truncate">Sign Up</span>
                    </a>
                {% else %}
                    {% if request.user.role == "TENANT" or request.user.role == "ADMIN" %}
                        <div class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-primary  text-background-dark text-sm font-bold shadow-[0_0_15px_rgba(56,224,123,0.3)] transition-all">
                            <span class="truncate">@{{ request.user.role.capitalize }}</span>
                        </div>
                    {% else %}
                        <a href="{% url 'landlord_dashboard' %}"
                           class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-primary hover:bg-primary-hover text-background-dark text-sm font-bold shadow-[0_0_15px_rgba(56,224,123,0.3)] transition-all">
                            <span class="truncate">Dashboard</span>
                        </a>
                    {% endif %}
                    <a href="{% url 'logout' %}"
                       class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-transparent border border-border-dark hover:bg-surface-dark text-white text-sm font-bold transition-all">
                        <span class="truncate">Log Out</span>
                    </a>
                    <a href="{% url 'update_profile' %}">
                        <div class="flex items-center gap-3">
                            <div class="bg-center bg-no-repeat bg-cover rounded-full size-10 border-2 border-surface-border cursor-pointer"
                                 data-alt="User profile avatar showing a smiling person"
                                 style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBR_ZGqJheIthBRuTtKRBDHIPE4VrkvEkE8dyzz6tehLwT11NpaJIo3-NelngFNiUpIHbzszkTTKa3zyfKCwa0vs0TayEEuRKq8MIUd8pAmE45kU_g8cKlQ03FNDzI1mF9l2FJz-5UbUPf04hYDntn3uOa0mFQgM3ug4qib1aaony322jZd10qbeGVx5gMRVreaCNWXtt333F6pzqRlnFZVKbA6-Qc70EP9zPYxbgmnnkY5Wz6zjox6APAkd8100Z1TgPHLq9hOkWI")'>
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Mobile Menu Icon -->
        <button class="md:hidden text-white">
            <span class="material-symbols-outlined">menu</span>
        </button>
    </div>
</header>
